/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Odor+Mean+Chey&display=swap");
* {
  font-family: "Nunito", "Odor Mean Chey", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Odor Mean Chey", sans-serif;
}

.text-shadow-neon {
  text-shadow: "0 0 5px #fff, 0 0 10px #fff, 0 0 20px #007ad7, 0 0 30px #007ad7, 0 0 40px #007ad7, 0 0 50px #007ad7, 0 0 60px #007ad7";
}

.gradient-text {
  background: linear-gradient(90deg, #ff00bf, #008cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
